.text-primary {
  color: #006977;
}

.x-larg {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.larg {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.medium {
  font-size: 1.3rem;
  line-height: 1;
  margin-bottom: 1rem;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn, .landing .container .btn {
  transition: all .5s ease-in-out;
  display: inline-block;
  padding: .4rem 1.3rem;
  border: 2px solid transparent;
  cursor: pointer;
  font-size: 1rem;
  background-color: #006977;
  color: #f4f4f4;
  border-radius: 1rem;
  outline: none;
}

.btn:hover, .landing .container .btn:hover {
  border: 2px solid #006977;
  background-color: transparent;
  color: #006977;
}

.btn-light, .landing .container .btn-light {
  background-color: transparent;
  border: 2px solid #006977;
  color: #006977;
  border-radius: 1rem;
}

.btn-light:hover, .landing .container .btn-light:hover {
  border: 2px solid #006977;
  background-color: #006977;
  color: #f4f4f4;
}

.my-1 {
  margin: 1rem 0;
}

.round-img {
  border-radius: 50%;
}

.profile-container .profile-grid, .profile-container .profile-about, .profile-container .profile-exp, .profile-container .profile-edu {
  border: 1px solid #006977;
  padding: 2rem;
  border-radius: 10px;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background-color: #DCDCDC;
}

.form-container {
  margin-left: 10%;
  width: 80vw;
}

.form-group {
  margin: 1.2rem 0;
}

.form input[type='text'],
.form input[type='password'],
.form input[type='email'],
.form input[type='date'],
.form select,
.form textarea {
  background-color: transparent;
  width: 50%;
  outline: none;
  padding: .8rem;
  border-radius: .5rem;
  border: 1px solid #006977;
}

.form-container a {
  transition: all .5s ease-in-out;
  color: #006977;
}

.form-container a:hover {
  text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  background-color: #fff;
  color: #333;
}

a {
  text-decoration: none;
  color: #f4f4f4;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

header {
  width: 100vw;
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #006977;
  padding: .7rem 2rem;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

header .nav-container {
  width: 80vw;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .nav-container ul {
  width: 100%;
  display: flex;
  align-items: center;
}

header .nav-container ul li {
  margin-left: 1.2rem;
}

header .nav-container .logo {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: .8rem;
}

header .nav-container .logo a {
  font-size: 1.5rem;
  font-weight: 700;
  transition: all .5s ease-in-out;
}

header .nav-container .logo a:hover {
  opacity: .8;
}

header .nav-container a {
  font-size: 1rem;
  font-weight: 500;
  transition: all .5s ease-in-out;
}

header .nav-container a:hover {
  opacity: .8;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  background: linear-gradient(rgba(20, 20, 20, 0.2), rgba(0, 0, 0, 0.1)), url("../img/bg.jpg") no-repeat center/cover;
}

.landing .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #343a40;
}

.landing .container .btn-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.login-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-icon i {
  margin-left: 5px;
}

.profiles-container .search-box {
  border: 1px solid #006977;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50%;
}

.profiles-container .search-box .icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0 5px 15px;
}

.profiles-container .search-box .search-icon {
  font-size: 1.3rem;
}

.profiles-container .search-box input {
  background-color: transparent;
  width: 100%;
  outline: none;
  padding: .8rem;
  border: none;
}

.profiles-container .btn-link {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.profiles-container .btn-link i {
  transition: all .5s ease-in-out;
}

.profiles-container .btn-link:hover i {
  transform: translate(0.25rem);
}

.profiles {
  width: 80vw;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
  gap: 2rem;
  padding-top: 2rem;
}

.profiles .p-img {
  width: 80px;
}

.profiles .profile {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 10px;
}

.section {
  background: #DCDCDC;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 7rem;
}

.section .back-link {
  position: absolute;
  top: 5rem;
  left: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.section .back-link .bx-arrow-back {
  transition: all .5s ease-in-out;
  margin-right: 3px;
}

.section .back-link:hover .bx-arrow-back {
  transform: translate(-5px);
}

.profile-container {
  display: grid;
  grid-template-areas: "top top" "about about" "exp edu";
  gap: 1rem;
  padding: 2rem;
  width: 80%;
  max-width: 1100px;
}

.profile-container .profile-grid {
  grid-area: top;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.profile-container .profile-grid .icons {
  width: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.profile-container .profile-grid .home-social-link {
  color: #006977;
  font-size: 2rem;
  transition: all .5s ease-in-out;
}

.profile-container .profile-grid .home-social-link:hover {
  color: #343a40;
}

.profile-container .profile-grid img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.profile-container .profile-about {
  grid-area: about;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-container .profile-about p {
  width: 70%;
  padding: 1rem;
}

.profile-container .profile-about .skills {
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
}

.profile-container .profile-exp {
  grid-area: exp;
}

.profile-container .profile-edu {
  grid-area: edu;
}

.profile-container .profile-exp > div,
.profile-container .profile-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px dotted #006977;
}

.profile-container .profile-exp > div:last-child,
.profile-container .profile-edu > div:last-child {
  border: none;
}

.profile-container p {
  margin: .5rem 0;
}

h1 {
  margin-top: 1rem;
}

h2 {
  margin: 1rem 0;
}

.dashboard-container {
  width: 80%;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
}

.dashboard-container .dash-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
  padding-top: 2rem;
}

.dashboard-container .dash-buttons .btn {
  position: relative;
  width: 100%;
  text-align: center;
}

.dashboard-container .dash-buttons .btn i {
  position: absolute;
  left: 30px;
  top: 10px;
}

.new-profile-container {
  max-width: 1100px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  column-gap: 4rem;
  padding-bottom: 5rem;
}

.new-profile-container .new-profile-title {
  width: 30%;
}

.new-profile-container form {
  width: 70%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3rem;
  flex-grow: 1rem;
}

.new-profile-container form small {
  display: block;
  opacity: .7;
}

.new-profile-container form option {
  background-color: #006977;
  color: #f4f4f4;
}

.new-profile-container form .social-input {
  display: flex;
  justify-content: start;
  align-items: center;
  border: 1px solid #006977;
  width: 50%;
  border-radius: 10px;
}

.new-profile-container form .social-input input {
  border: none;
}

.new-profile-container form .social-input i {
  margin-left: 1rem;
  color: #006977;
  font-size: 1.3rem;
}

.new-profile-container form input[type="submit"] {
  width: 100px;
}

.new-profile-container form .form-buttons {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.new-profile-container form .form-buttons i {
  transition: all .5s ease-in-out;
}

.new-profile-container form .form-buttons a:hover i {
  transform: translate(-5px);
}

.posts-container {
  width: 80%;
  max-width: 1100px;
  padding: 0 1rem 4rem;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}

.posts-item {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column: 2rem;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.posts img {
  width: 100px;
  object-fit: cover;
}

.discussion-post {
  width: 80%;
}

.discussion-post img {
  width: 100px;
}
/*# sourceMappingURL=style.css.map */