@mixin transition {
    transition: all .5s ease-in-out;
}

 //set text color base on background
@function set-text-color($color) {
    @if(lightness($color) > 50) {
        @return #333;
    } @else {
        @return #fff;
    }
}

//set background and text color
@mixin set-background($color) {
    background-color: $color;
    color: set-text-color($color); 
}